<div class="container">
  <%= audio_tag "top_gun.mp3", id: "sound", class: "audio-to-play", autoplay: :true %>
  <!-- <div class="headings">
    <h1>Wooop! <strong>Cock</strong>tail <strong>O'Clock!</strong></h1>

    <p><span id="banner-typed-text"></span></p>

    <%#= link_to "Want to add your own cocktail!?", new_cocktail_path(@cocktail), class: "buttons btn btn-danger"%>
  </div>

  <div class="row">
  <%# @cocktails.each do |cocktail| %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card-outline">
        <div class="card-content card-image">
          <%#= cl_image_tag cocktail.photo, height: 165, width: 270, crop: :fill %>
        </div>
        <div class="card-content card-body">
          <div>
            <%#= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name" %>
          </div>
          <div>
            <%#= link_to cocktail_path(cocktail.id),
                  method: :delete,
                  data: { confirm: 'Are you sure?'} do %>
                  <i class="button far fa-trash-alt"></i>
                  <%# end %>
          </div>
        </div>
      </div>
    </div>
  <%# end %>
  </div> -->
</div>






